---
import About from '@/components/About.astro';
import Experience from '@/components/Experience.svelte';

import { SITE_DESCRIPTION, SITE_TITLE } from '../constants';
import MainLayout from '../layouts/Main.astro';
---

<MainLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<div class='container max-w-4xl flex-1'>
		<div class='grid items-center gap-14 py-4 md:py-4'>
			<About />
			<Experience />
		</div>
	</div>
</MainLayout>
