---
import { USER_FULL_NAME } from '@/constants';
---

<section data-animate data-animate-speed='slow'>
	<article class='py-4'>
		<p class='leading-loose dark:text-neutral-400'>
			I'm <span class='font-bold tracking-tight dark:text-primary'>
				{USER_FULL_NAME}
			</span>, a fullstack developer from Valencia with +2 years of experience.
			I'm passionate about creating intuitive frontend experiences while
			mastering backend and database design.
		</p>
	</article>
</section>
